.order
  - if @order.cart?
    %h2 カートの中のアイテム
  - elsif @order.checked_out?
    %h2 ご注文ありがとうございました
    .ordered_at
      注文日時:
      %span=l @order.ordered_at, format: '%Y/%m/%d %H:%M'

  - if @order.line_items.present?
    %table.line_items
      %thead
        %tr
          %th 商品
          %th 単価
          %th 数量
          %th 小計
      %tbody
        - @order.line_items.order(:id).each do |li|
          %tr
            %td= li.item.name
            %td= li.item.price
            %td= li.quantity
            %td= li.subtotal

    - unless @order.checked_out?
      = link_to   '買い物を続ける', root_path
      = form_for @order do |f|
        = f.hidden_field :status, value: :checked_out
        = submit_tag '注文を確定する'

  - else
    %p.empty 商品はありません。
    = link_to '買い物を続ける', root_path
